<h1>ノード一覧</h1>

<%= link_to 'ノードを追加', new_node_path, class: 'btn btn-lg btn-primary mb-3' %>
<%= link_to 'ノード変更履歴', history_path, class: 'btn btn-lg btn-primary mb-3' %>

  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= nodes_path %>" class="nav-link <%= 'active' if current_page?(params[:deleted]) %>">有効ノード</a></li>
      <li class="nav-item"><a href="<%= nodes_path(deleted: true) %>" class="nav-link <%= 'active' if current_page?(nodes_path(deleted: true)) %>">削除済みノード</a></li>
    </ul>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ノード名</th>
        <th>ノード種別</th>
        <th>IPアドレス</th>
        <th>ホスト名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @nodes.each do |node| %>
        <tr>
          <td><%= link_to node.name, node %></td>
          <td><%= node.kind %></td>
          <td><%= node.ipaddress %></td>
          <td><%= node.hostname %></td>
          <td><%= link_to '編集', edit_node_path(node) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
<%= paginate @nodes %>
