<h1>ノード変更履歴</h1>

<%= link_to '一覧へ戻る', nodes_path, class: 'btn btn-lg btn-primary mb-3' %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>変更時間</th>
      <th>ノード名</th>
      <th>ユーザ名</th>
      <th>変更内容</th>
    </tr>
  </thead>
  <tbody>
    <% @operations.each do |operation| %>
      <tr>
        <td><%= operation.updated_at  %></td>
        <td><%= operation.node.name %></td>
        <td><%= operation.user.name %></td>
        <td><%= t('enums.operation.operation_type.' + operation.operation_type) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  